//////////////////////////
/*variables*/
//////////////////////////

//Colors
$white: #fff;
$color-primary: #58e1c1;
$color-primary-font: #777;
$color-link: #51ddfc;
$color-neutral: #ccc;

//breakpoint
$breakpoint: 768px;

//typography
$font-weight: 300;
$font-weight-bold: 700;
$base-line-height: 1.45em;
